<<<<<<< HEAD
/* GLOBAL STYLES*/
h1 {
  font-size: 3.5rem;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: 0px 0px 7px black;
}
.hero{
  text-shadow: 0px 0px 7px black;
=======
/* GLOBAL STYLES
-------------------------------------------------- */
h1 {
  text-shadow: 2px 2px black;
}

.hero {
  text-shadow: 2px 2px black;
>>>>>>> 44b176fb057daf11ffbee9459ca97d1f36671fbe
}
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
<<<<<<< HEAD
/* navbar*/
.logobella {
  height: 50px;
  background-color: white;
  border-radius: 5px;
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
=======

/* Navbar*/

.logobella {
  height: 2.5rem;
  background-color: white;
  border-radius: 7px;

}

.contact {
  text-decoration: none;
  color: white;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
>>>>>>> 44b176fb057daf11ffbee9459ca97d1f36671fbe

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
<<<<<<< HEAD
  height: 60vh;
=======
  height: 50vh;
>>>>>>> 44b176fb057daf11ffbee9459ca97d1f36671fbe
  object-fit: cover;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
<<<<<<< HEAD
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MARKETING CONTENT
  -------------------------------------------------- */
=======
  min-width: 100%;
  height: 50vh;
  object-fit: cover;
  filter: blur(4px);
  -webkit-filter: blur(4px);
}


/* MARKETING CONTENT
-------------------------------------------------- */
>>>>>>> 44b176fb057daf11ffbee9459ca97d1f36671fbe

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
<<<<<<< HEAD
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* rtl:end:ignore */

/* Featurettes
  ------------------------- */
=======
  margin-right: .75rem;
  margin-left: .75rem;
}

.rounded-circle {
  object-fit: cover;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */
>>>>>>> 44b176fb057daf11ffbee9459ca97d1f36671fbe

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
<<<<<<< HEAD
  letter-spacing: -0.05rem;
}
.img{
  border-radius: 4.6px;
  box-shadow: 2px 2px 4px black;
}
.rounded-circle{
  object-fit: cover;
  box-shadow: 2px 2px 4px black;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */
=======
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
>>>>>>> 44b176fb057daf11ffbee9459ca97d1f36671fbe

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
<<<<<<< HEAD
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
=======
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
>>>>>>> 44b176fb057daf11ffbee9459ca97d1f36671fbe
}
